apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: youruser/sentiment-backend:v1 # <--- UPDATE THIS
          env:
            - name: DATABASE_URL
              value: "postgresql://user:password@db-service:5432/sentiment_db"
            - name: FINNHUB_API_KEY
              value: "YOUR_ACTUAL_API_KEY_HERE" # In Prod, we use K8s Secrets
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"