apiVersion: v1
kind: Service
metadata:
  name: db-service
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          env:
            - name: POSTGRES_USER
              value: "user"
            - name: POSTGRES_PASSWORD
              value: "password"
            - name: POSTGRES_DB
              value: "sentiment_db"
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: pg-data
          # Resources are CORRECTLY placed here, under the container
          resources:
            requests:
              memory: "150Mi" # Request 150MB 
            limits:
              memory: "250Mi" # Hard limit at 250MB
      volumes:
        - name: pg-data
          emptyDir: {}